.wrapper {
  display: flex;
  align-items: center;
}
.textarea_input {
  border: 1px solid var(--input-border-color);
}
.input {
  background: var(--input-incolor);
  fieldset {
    border: 1px solid var(--input-border-color) !important;
  }
  border-radius: var(--input-radius);
  input {
    padding: 10px !important;
    resize: vertical;
    font-size: 1rem;
  }
  &.disabled {
    background: var(--input-disabled-color) !important;
    input {
      cursor: not-allowed !important;
    }
    fieldset {
      background-color: var(--input-disabled-color);
    }
  }
  &.invalid {
    fieldset {
      border-color: red !important;
    }
  }
}
.label {
  font-weight: 400;
  color: var(--input-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--input-font-size);
  gap: 20px;
  &.textarea {
    align-items: start;
    span {
      margin-top: 10px;
    }
  }
  &.full {
    width: 100%;
    .input {
      width: 75% !important;
    }
  }
}
