.containers {
  width: 100%;
  margin-top: 30px;
}
.confirmed-row {
  background-color: green; /* Change background color to green for confirmed rows */
  color: white; /* Set text color to white or any other color for better visibility */
  /* Add any other desired styles */
}
.previewer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.row {
  display: flex;
  gap: 10px;
}
.experts {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--input-font-size);
  color: var(--input-color);
  font-weight: var(--input-font-weight);
}
.expertFIO {
  font-size: 18px;
  text-decoration: underline;
}
.docsContent {
  width: 100%;
}
.topDocs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  width: 30%;
  position: sticky;
  top: 0;
  left: 0;
  max-width: 350px;
}
.JShDocumentContainer {
  height: 100%;
  overflow: auto;
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.viewer {
  height: 100%;
  width: 100%;
}
.opinionsRow {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 1631px) {
  .JShDocumentContainer {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .topDocs {
    flex-direction: row;
    max-width: none;
    width: 50%;
  }
}
