.containers{
    width: 100%;
    margin-top: 30px;
}
.confirmed-row {
    background-color: green; /* Change background color to green for confirmed rows */
    color: white; /* Set text color to white or any other color for better visibility */
    /* Add any other desired styles */
  }