.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  // border-radius: 70px;
  padding: 15px 20px;
  border: 1px solid transparent;
  &.selected {
    background-color: var(--menu-selected-color);
    border-bottom: 1px solid var(--menu-selected-border-color);
    border-top: 1px solid var(--menu-selected-border-color);
  }
  &.mini {
    gap: 15px;
    padding: 10px 0px;
  }
  transition: all 0.2s;
  &.collapsed {
    padding: 0px 10px;
  }
}
.mini .image {
  height: 33px !important;
  width: 33px !important;
}
.image {
  border-radius: 50%;
  background-color: white;
  height: 55px !important;
  width: 55px !important;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.recImage {
  min-height: 268px;
  min-width: 232px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
.description {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  // color: #808080;
  color: #458845;
  padding: 5px 15px;
  background-color: #edf7ed;
  border-radius: 50px;
  margin: 0;
  &.red {
    background-color: #fcedec;
    color: #d74544;
  }
}
.mini .description {
  color: #aeaeae !important;
}
.mini .col {
  gap: 5px !important;
}
