.inp, .btn{
    height: 33px;
   
}
.inp{
  width: 200px;
  border-radius: 6px 0px 0px 6px;
  border-style: solid;
  border-color: #A0AAC0;
}
.btn{
    width: 55px;
    cursor: pointer;
    background: #A0AAC0;
    color: #fff;
    border: none;
}