.inp, .btn{
    height: 33px;
   
}
.inp{
  border-style: solid;
  border-color: #A0AAC0;
}
.btn{
    width: 70px;
    cursor: pointer;
    background: #A0AAC0;
    color: #fff;
    stroke: #A0AAC0;
    border: none;
}