:root {
  --dark-bg: #060326;
  --light-bg: #f5f5f5;
  --border-color: #ececec;
  --row-color: #f5f5f5;
  --row-selected-color: rgba(25, 118, 210, 0.08);
  --button-color: #197bbd;
  --secondary-button: #197bbd;
  --menu-selected-color: #eff6ff;
  --menu-hover-color: white;
  --menu-selected-text-color: black;
  --menu-selected-border-color: #b8d3ff;
  --menu-font-size: 20px;
  --radius: 55px;

  --modal-color: #f6f7f9;

  --input-radius: 4px;
  --input-color: black;
  --input-border-color: #c7c9d9;
  --input-font-size: 18px;
  --input-incolor: white;
  --input-disabled-color: rgba(0, 0, 0, 0.01);

  --wrapper-bg: #fff;
  --wrapper-pg: 20px 30px 20px 30px;
}

body {
  background-color: var(--dark-bg);
}

.login-btn {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 5px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: var(--button-color);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--button-color);
  &:hover {
    color: white;
    box-shadow: 0 0 20px var(--border-color);
    background-color: var(--button-color);
  }
}
.red {
  color: red;
}
.wrapper {
  background-color: var(--wrapper-bg);
  padding: var(--wrapper-pg);
  border-radius: var(--radius);
}
.view-full-modal {
  height: 100%;
}
.tab-main {
  button {
    font-size: 18px;
  }
}
.row {
  display: flex;
  &.g-1 {
    gap: 6px;
  }
  &.g-2 {
    gap: 12px;
  }
  &.g-3 {
    gap: 18px;
  }
  &.g-4 {
    gap: 24px;
  }
  &.a-center {
    align-items: center;
  }
  &.j-center {
    justify-content: center;
  }
  &.full-children {
    & > * {
      width: 100%;
    }
  }
}
.col {
  display: flex;
}
.unselected {
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 700;
}
.big-icon{
  font-size: 40px;
  color: #197bbd;
}
.unfocus {
  color: #a3a3a3;
  &.bold {
    font-weight: 600;
  }
  &.small {
    font-size: 12px;
  }
}
.unfocus-link {
  color: rgb(80, 80, 80);
  &:hover {
    color: var(--button-color);
  }
}
.full-grid-item {
  grid-column: 1/3;
}
.mt-2 {
  margin-top: 15px;
}
.mb-1 {
  margin-bottom: 8px !important;
}
.mb-2 {
  margin-bottom: 15px !important;
}
.t-center {
  text-align: center;
}
.title {
  font-size: 22px;
  font-weight: 500;
  &.bold {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: #091e42;
  }
  &.start {
    text-align: start;
  }
}
.logo {
  height: 85px;
}
.primary-btn {
  padding: 12px 22px;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 16px;
  border-radius: var(--input-radius);
  background-color: var(--button-color);
  cursor: pointer;
  &:hover {
    filter: brightness(1.15);
  }
  &:active {
    filter: brightness(1);
  }
}
.card {
  padding: 30px 50px;
  max-width: 1000px;
  box-shadow: 0px 16px 24px 0px #0000000f;
  font-size: 22px;
  line-height: 1.8;
  text-align: center;
  a {
    font-weight: bold;
  }
  &.full {
    max-width: none;
    min-width: 100%;
  }
}
.center {
  display: flex;
  justify-content: center;
}

.status {
  background-color: #f2f2f2;
  padding: 5px 20px;
  color: black;
  font-size: 13px;
  font-weight: 400;
  height: min-content;
  border-radius: 8px;
  &.wait {
    background-color: #fcff76;
  }
  &.success {
    background-color: #76ff7d;
  }
}

.colored-list {
  .flex {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    & > * {
      font-size: 20px;
      padding-right: 5rem;
      width: 50%;
      text-align: right;
      & > a {
        text-decoration: none;
        color: #2400ff;
      }
    }
    &:nth-of-type(odd) {
      background-color: var(--row-selected-color);
    }
  }
}
