.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  color: var(--input-color);
  font-size: var(--input-font-size);
}
.checkbox {
  label {
    font-size: var(--input-font-size);
  }
  // svg {
  //   background: var(--input-incolor);
  // }
}
.controlLabel {
  & > :last-child {
    font-size: var(--input-font-size);
  }
}
