.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-size: var(--input-font-size);
  color: var(--input-color);
}
.checkbox {
  svg {
    background: var(--input-incolor);
  }
}
