.container {
  display: flex;
  background-color: white;
  min-height: 100vh;
}
.left {
  width: 100%;
  position: relative;
  max-width: 320px;
  padding: 10px 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--border-color) !important;
  transition: all 0.2s;
  overflow: hidden;
  &.collapsed{
    max-width: 80px;
    .collapseBtn{
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
    .logo{
      margin-top: 10px;
      margin-bottom: -20px;
      width: 70px;
    }
  }
}
.right {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top{
    display: flex;
    flex-direction: column;
}
.logo{
    align-self: center;
    margin-bottom: 20px;
    min-height: 85px;
}
.bottom{
    padding: 28px 20px 20px 20px;
    // border-top: 1px solid var(--border-color);
}

.collapseBtn{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.titleHome{
  font-size: 30px;
  font-weight: 600;
}
.grid{
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 20px;
  row-gap: 50px;
  flex-wrap: wrap;
}