.container {
  display: flex;
  // background-color: white;
  background-color: #f6f7f9;
  min-height: 100vh;
  // &.topPadding {
  //   padding-top: 50px;
  // }
}
.main {
  position: relative;
}
.link {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  // &:hover {
  //   text-decoration: underline;
  // }
}
.topAlert {
  // position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  .alert {
    border-radius: 0;
    padding: 0 16px;
    font-size: 20px;
    & > :first-child {
      font-size: 28px;
    }
  }
}
.left {
  width: 100%;
  position: relative;
  max-width: 340px;
  padding: 10px 0;
  padding-top: 20px;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border-right: 1px solid var(--border-color) !important;
  transition: all 0.2s;
  &.collapsed {
    max-width: 80px;
    .collapseBtn {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
    .logo {
      margin-top: 10px;
      margin-bottom: -20px;
      width: 70px;
    }
  }
}
.right {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
  border-radius: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.1), 0 1px 1px rgba(17, 20, 24, 0.2);
  align-items: center;
  & > :last-child {
    width: 100% !important;
  }
}
.top {
  display: flex;
  flex-direction: column;
}
.logo {
  align-self: center;
  margin-bottom: 0px;
  min-height: 85px;
}
.bottom {
  padding: 28px 20px 20px 20px;
  // border-top: 1px solid var(--border-color);
}

.collapseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.titleHome {
  font-size: 30px;
  font-weight: 600;
}
.grid {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 20px;
  row-gap: 50px;
  flex-wrap: wrap;
}
