.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  padding: 30px 30px;
  outline: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 60vw;
  max-height: 90vh;
  &.full{
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.close {
  align-self: flex-end;
  cursor: pointer;
}
.row {
  display: flex;
  gap: 20px;
}
