.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  // background-color: white;
  background-color: var(--modal-color);
  border-radius: 5px;
  outline: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  max-width: 1600px;
  max-height: 95vh;
  // padding-top: 75px;
  &.full {
    width: 100vw;
    max-height: 100vh;
    max-width: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.wrapper {
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}
.bottom {
  padding: 8px 20px;
  border-top: 1px solid var(--border-color);
}
.top {
  display: flex;
  position: sticky;
  box-shadow: 0 1px 0 rgba(17, 20, 24, 0.15);
  padding-right: 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  justify-content: space-between;
}
.title {
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
}
.close {
  align-self: flex-end;
  cursor: pointer;
}
.row {
  display: flex;
  gap: 20px;
}
