.wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
  overflow: hidden;
}
.button {
  position: absolute !important;
  top: 0;
  right: 10px !important;
  z-index: 100;
  background-color: white;
  &:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgb(195, 195, 195);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.errorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  height: 95%;
}
.error {
  font-size: 20px;
  width: max-content;
  background-color: transparent;
  & > :first-child {
    font-size: 30px !important;
  }
}
.tooltip {
  font-size: 20px;
}
.previewer {
  display: flex;
  overflow: auto;
  &.pdf {
    flex-direction: column;
    padding: 10px 10px !important;
    gap: 10px;
    canvas{
      max-width: 900px;
    }
  }
  &.full {
    justify-content: unset;
  }
  justify-content: center;
}
