.wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
}
.button {
  position: absolute !important;
  top: 0;
  right: 10px !important;
  z-index: 100;
  background-color: white;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.errorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  height: 95%;
}
.error {
  font-size: 20px;
  width: max-content;
  background-color: transparent;
  & > :first-child {
    font-size: 30px !important;
  }
}
.tooltip {
  font-size: 20px;
}
.previewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
