.wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  p {
    position: absolute !important;
    bottom: -2px;
    right: 0;
    transform: translateY(100%);
  }
  & > :first-child,
  & > :nth-child(2) {
    width: 100%;
  }
  & > :nth-child(3) {
    width: 100%;
  }
}
.btn {
  display: flex;
  min-height: 43px;
  padding: 0 10px;
  max-width: 120px;
}
