.wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  & > :first-child {
    width: 100%;
  }
  p {
    position: absolute !important;
    bottom: -2px;
    right: 0;
    transform: translateY(100%);
  }
}
.btn {
  display: flex;
  min-height: 43px;
  padding: 0 10px;
}
