.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  p {
    position: absolute;
    bottom: -2px;
    right: 0;
    transform: translateY(100%);
  }
}
.label {
  font-size: var(--input-font-size);
  color: var(--input-color);
  font-weight: var(--input-font-weight);
}
.content {
  font-size: 15px;
  font-weight: 500;
}
.input {
  font-size: var(--input-font-size);
  fieldset {
    border-radius: 4px;
  }
  input {
    padding: 10px 10px !important;
    font-size: var(--input-inside-font-size) !important;
  }
}
.fileInputLabel {
  position: relative;
  & > :first-child {
    width: 100%;
  }
  &.invalid {
    .fileInput {
      border-color: red;
    }
  }
  &.disabled {
    .fileInput {
      background: var(--input-disabled-color) !important;
      cursor: not-allowed !important;
    }
  }
}
.fileActions {
  position: absolute;
  display: flex;
  gap: 5px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #808080;
}
.fileInput {
  background: var(--input-incolor);
  font-size: var(--input-font-size);
  border-radius: var(--input-radius);
  border: 1px solid var(--input-border-color);
  min-height: 43px;
  padding: 10px;
  text-overflow: ellipsis;
}
.invalid_title {
  color: #d32f2f;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;

  position: absolute;
  bottom: -2px;
  right: 0;
  transform: translateY(100%);
}
.autocomplete {
  background: var(--input-incolor);
  & > :first-child > :first-child {
    padding: 0;
  }
}
.autocomplete_input {
  background: var(--input-incolor);
  fieldset {
    border: 1px solid var(--input-border-color) !important;
  }
  &.invalid {
    fieldset {
      border-color: red !important;
    }
  }
  border-radius: var(--input-radius);
  input {
    padding: 8px !important;
    resize: vertical;
    font-size: 1rem;
    font-size: var(--input-inside-font-size);
  }
  &.disabled {
    background: var(--input-disabled-color) !important;
    input {
      cursor: not-allowed !important;
    }
    fieldset {
      background-color: var(--input-disabled-color) !important;
    }
  }
  &.invalid {
    fieldset {
      border-color: red !important;
    }
  }
}
.select {
  background: var(--input-incolor);
  fieldset {
    border: 1px solid var(--input-border-color) !important;
  }
  border-radius: var(--input-radius);
  & > :first-child {
    max-width: 500px;
    overflow: hidden;
    padding: 10px !important;
    min-height: auto !important;
    font-size: var(--input-inside-font-size);
  }
  &.disabled {
    background: var(--input-disabled-color) !important;
    & > :first-child {
      cursor: not-allowed !important;
    }
  }
  input:disabled ~ fieldset {
    background-color: var(--input-disabled-color) !important;
  }
  &.invalid {
    fieldset {
      border: 1px solid red !important;
    }
  }
}
.multipleBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5;
}
