.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label {
  font-size: var(--input-font-size);
  color: var(--input-color);
}
.content {
  font-size: 15px;
  font-weight: 500;
}
.input {
  fieldset {
    border-radius: 4px;
  }
  input {
    padding: 10px 20px !important;
    font-size: 16px !important;
  }
}
.select {
  fieldset {
    border: 1px solid var(--input-border-color) !important;
  }
  border-radius: var(--input-radius);
  & > :first-child {
    padding: 10px !important;
    min-height: auto !important;
    font-size: 1rem;
  }
  &.disabled > :first-child {
    cursor: not-allowed !important;
  }
  input:disabled ~ fieldset {
    background-color: var(--input-disabled-color) !important;
  }
  &.invalid {
    fieldset {
      border: 1px solid red !important;
    }
  }
}
