.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 5px;
    padding-left: 0;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    gap: 15px;
    align-items: center;
}
.title{
    font-size: 42px;
}
.desc{
    font-size: 16px;
    color: #AEAEAE;
}