.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
  padding-left: 0;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  gap: 15px;
  align-items: center;
}
.title {
  font-size: 42px;
}
.desc {
  font-size: 16px;
  color: #aeaeae;
}
.drawer_content {
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.drawer_title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}
.timeNotification {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 2px 10px;
}
.notification {
  position: relative;
  padding-bottom: 30px;
}
