.containers {
  width: 100%;
  margin-top: 10px;
}
.control {
  display: flex;
  justify-content: flex-end;
  padding: 0px 0;
}
.btn {
  // width: 156px;
}
.row{
  display: flex;
  gap: 10px;
}
.bottom {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
