.wrapper{
    display: flex;
    flex-direction: column;
}
.dataTable{
    font-size: 16px;
}
.control{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 20px;
}
.icn{
    color: #637497;
}