.container {
  padding: 30px 20px 30px 0px;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 2px;
  // border-radius: var(--input-radius);
  border-bottom: none;
  border-right: none;
  border-left: none;
  position: relative;
  margin: 10px 0 0 0;
  display: flex;
  gap: 20px;
  align-items: flex-end;

  h3 {
    font-weight: 500;
    font-size: 18px;
    color: #1565c0;
  }
}
.content {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-left: 25px;
  & > * {
    width: 100%;
  }
  & > div[datatype="list"] {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  width: fit-content;
  padding: 0 5px;
  text-transform: uppercase;
  color: #1565c0;
}
