.wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  &.mini {
    height: 350px;
  }
}
.paper {
  height: 100%;
}
.deleteIcon{
  font-size: 50px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: -10px;
}
.dialogTitle{
  padding-bottom: 10px;
}
.dataTable {
  border-radius: var(--input-radius);
  padding-top: 20px;
  border: none;
  height: 100%;
  font-size: var(--input-font-size);
  // & > :nth-child(2) > :nth-child(2) {
  //   height: 200px;
  // }
  // &.mini > :nth-child(2) > :nth-child(2) {
  //   height: 80vh !important;
  // }
  [role="row"] {
    max-height: none !important;
  }
  [role="columnheader"] {
    padding-left: 20px;
  }
  [role="cell"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    max-height: none !important;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }
}
.toolbars {
  position: absolute;
  top: -20px;
  left: 0;
  transform: translateY(-100%);
}
.control {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  justify-content: space-between;
}
.row{
  display: flex;
  flex-wrap: nowrap;
}
.tool {
  border-radius: var(--input-radius);
}
