.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  &.full {
    width: 100%;
    justify-content: space-between;
  }
}
.value {
  font-size: 20px !important;
  margin: 0;
  padding: 0;
}
.label {
  font-size: 18px !important;
  margin: 0;
  padding: 0;
}
.chip {
  font-size: 18px !important;
  min-width: 140px;
}
